*{margin: 0; pad: 0;}
ul{
    display: flex;
    background: #000;
}
.li{
    margin: 8px 30px;
    padding: 8px 30px;
    list-style: none;
    color: white;
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
}

.input-feild{
    width: 23%;
    margin: 20px 450px;
    padding: 10px 6px;
    outline-color: #6e8ca7;
}